<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>EZ2Park</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://localhost:3000/">EZ2Park</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://localhost:3000/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="color: white; font-weight: bold; background-image: url(<%= asset_path('0.jpe') %>);">
        <div class="container" style="margin-top: 10px;">
          <h1 class="display-3">Login</h1>
        </div>
      </div>

      <div class="container">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
          	<form action="/users" method="POST">
              <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
              <div class="form-group">
                <label for="InputUserName">User Name</label>
                <input type="name" name="user[name]" class="form-control" id="InputUserName" placeholder="Enter user name">
              </div>

  				    <div class="form-group">
    				    <label for="exampleInputPassword1">Password</label>
    				    <input type="password" name='user[password]' class="form-control" id="exampleInputPassword1" placeholder="Password">
  					  </div>

  				  <button type="submit" name="submit" class="btn btn-success">Login</button>
			     </form>
          </div>
          <div class="col-md-6">
            <img src="">
          </div>
        </div>

        <hr>

      </div> <!-- /container -->


    </main>

    <footer class="container">
      <p>&copy; EZ2Park 2019-2020</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
